@import "node_modules/bootstrap/scss/functions";

$theme-colors: (
  "primary": #7CC46C,
  "secondary": #789668
);

$enable-gradients: true;

@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";

$blue:    #1a90df !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f0ad4e !default;
$yellow:  #f0d64e !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

.bg-color-blue   { background-color: $blue !important;    }
.bg-color-indigo { background-color: $indigo !important;  }
.bg-color-purple { background-color: $purple !important;  }
.bg-color-pink   { background-color: $pink !important;    }
.bg-color-red    { background-color: $red !important;     }
.bg-color-orange { background-color: $orange !important;  }
.bg-color-yellow { background-color: $yellow !important;  }
.bg-color-green  { background-color: $green !important;   }
.bg-color-teal   { background-color: $teal !important;    }
.bg-color-cyan   { background-color: $cyan !important;    }


$bg-diamond    : url(background/diamond-upholstery.png);
$bg-brilliant  : url(background/brilliant.png);
$bg-paper      : url(background/clean-gray-paper.png);
$bg-cardboard  : url(background/cardboard.png);
$bg-back       : url(background/back-pattern.png);
$bg-alum       : url(background/brushed-alum-dark.png);
$bg-concrete   : url(background/concrete-wall.png);
$bg-ruffles    : url(background/crisp-paper-ruffles.png);
$bg-checker    : url(background/checkered-light-emboss.png);
$bg-blizzard   : url(background/blizzard.png);
$bg-mamba      : url(background/black-mamba.png);
$bg-firstaid   : url(background/first-aid-kit.png);

$bg-theme-1: $bg-brilliant;
$bg-theme-2: $bg-paper;
$bg-theme-3: $bg-alum;

.bg-theme-1 {
  background-image: $bg-theme-1;
}

.bg-theme-2 {
  background-image: $bg-theme-2;
}

.bg-theme-3 {
  background-image: $bg-theme-3;
}

$body-bg: $gray-100;

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
//@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
//@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
//@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";
